*{
    box-sizing: border-box;
}

.fjalla-one-regular, * {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    /*
    background: #e09e34;
    background: radial-gradient(circle, rgba(224, 158, 52, 1) 0%, rgba(204, 124, 98, 1) 100%);*/
    background-image: url("./media/bg1.jpg");
    background-size: cover;
}

.header{
    text-align: left;
    background-color: aliceblue;
    border-radius: 0% 0% 10% 10%;
}

.header h1{
    padding: 0.3rem;
    padding-left: 2rem;
    font-size: 2.3rem;
}

.desktop{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    
}

.calcSide{
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    border-radius: 20%;
    justify-content: center;
    min-height: auto;
    max-height: fit-content;
    min-width: 50%;
    max-width: 80%;
}

.calcContainer{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    align-items: flex-end;
}
.calcHead{
    justify-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(179, 180, 199);
    border-radius:10%;
    width: 80%;
    min-width: 80%;
   
}

.calcBorder{
    box-shadow: inset 0.5rem -0.35rem rgba(0, 0, 0, 0.397);
}

.calcHead .inputBar{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    width: 80%;
    background-color: rgb(126, 127, 141);
    height: auto;
    margin: 2rem 0.2rem 0rem 0.2rem;
    box-shadow: inset 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.384);
    z-index: 5;
}

.calcHead label{
    text-align: right;
    padding: 0.3rem;
    font-size: 1.5rem;
}

.calcBody{
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.2rem;
    background-color: rgb(179, 180, 199);
    width: 60%;
    margin-right: -20%;
    margin-top: -0.5rem;
    padding: 0.4rem;
    padding-top: 0.8rem;
    align-self: center;
    border-radius: 0 0 2% 15%;
    height: 100%;

}


.numBtnsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70%;
    gap: 0.2rem;
    
}

.numBtnRow{
    max-height: 8rem;
    flex: auto;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    max-width: 100%;


}

.operationBtnsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    width: 5rem;
    overflow: hidden;

    
}

.numBtn, .opBtn{
    flex: 1 1 100%;
    width: 4rem;
    height: 6rem;
    font-size: 2rem;
    margin: 0;
    border-radius: 10%;
    border: 0.01rem solid rgba(0, 0, 0, 0.349);
    transition: 0.2s ease-in-out;
    background-color: aliceblue;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.295);
}

.numBtn{
    min-width: 20%;
}

.lastNumRow{
    justify-content: space-evenly;
}

.lastNumRow button{
    max-width: 31.5%;
}


.bigBtn{
    flex: 3 1  200%;
}

.numBtn:hover, .opBtn:hover{
    transform: translate(0,00.2rem);
    box-shadow: none;

}

#lastNum{
    padding-right: 7%;
    user-select: none;
    font-weight: 500;
}

#resultNum{
    user-select: text;
    font-size: 2rem;
    font-weight: 800;
}


.paperSide{
    flex: 1 1 45%;
    max-width: 100%;
    min-width: 45%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.paper{
    background-color: rgb(211, 198, 79);
    width: 80%;
    min-height: 90%;
    margin: 10% 2%;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
}

.paperContents{
    display: flex;
    flex-direction: column;
    max-height: fit-content;
}